.title-label {
    -unity-font-style: bold;
    margin-bottom: 5px;
    color: rgb(202, 202, 202);
}

.list-view-container {
    border-radius: 5px;
    border-width: 0;
    background-color: rgb(32, 32, 32);
    padding: 3px;
    border-color: grey;
}
